* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;

  background-color: white;
  /* position: relative; */
}

.section1 {
  /* background-color: white; */
  position: absolute;
  
  background-image: url('./closedDoorBlack.svg');
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  transition: all ease-in-out 2s;
  transform: translate(-50%, -50%);
}
/* .section1:hover {
    background-image: url('./openDoor.svg');
    left: 50%;
    height: 400px;
} */

.words {

}
.paragraph {
    position: absolute;
    display: block;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

}

@media screen and (min-width: 1001px){
    .paragraph {
        top: 90%;
    }
}

@media screen and (max-width: 1000px){
    .paragraph {
        top: 90%;
    }
}
@media screen and (max-width: 380px){
.paragraph {
    top: 90%;
}
}